<div class="post-detail-main-container" >

  <nz-breadcrumb style="margin-top:-10px;margin-left: 20px">
    <nz-breadcrumb-item>
      <a [routerLink]="['../../../']">首页</a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
      <a [routerLink]="['../../']">社团</a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
      <a  (click)="goBack()">社团详情</a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
      <a >{{ cle.title }}</a>
    </nz-breadcrumb-item>
  </nz-breadcrumb>
  <div class="row">
    <div class="col-sm-12 t1">
      <div class="post-detail-container">
        <div class="row">
          <div class=" postheader">
            <h1>{{ cle.title }}</h1>
            <h3>发布者 ：{{ cle.author}}</h3>
            <h3>发布时间：{{ cle.postTime |date:"MM/dd/yyyy" }}</h3>
          </div>
        </div>
        <div class="row  postcontent">
          <div [innerHTML]="'<h3>'+cle.content+'</h3>'" class="text">
          </div>
          <div class=" postimg">
            <img src="{{cle.poster}}">
          </div>
          <div class="join">
            <h3 class="col-sm-8">已有：100人参加</h3>
            <button  type="button" class="btn btn-primary btn-lg col-sm-4">
              <span>我要参加</span>
            </button>
          </div>

        </div>
      </div>
    </div>

  </div>
</div>
