
<div class="ui container maincss">
  <ul nz-menu [nzMode]="'horizontal'" ngDefaultControl >
    <li nz-menu-item  (click)="switchToRec()"><i class="anticon anticon-mail"></i>推荐社团</li>
    <li nz-menu-item   (click)="switchToMem()">
      加入的社团
    </li>
    <li nz-menu-item   (click)="switchToYours()">
      创建的社团
    </li>
    <div [ngSwitch]="clubswitch">
      <div *ngSwitchCase="'yours'">
    <button class="ui green right floated button" (click)="showModal()">
  <span>
    <i class="add circle icon"></i>新建社团</span>
    </button>
    <nz-modal [nzVisible]="isVisible" [nzTitle]="modalTitle" [nzContent]="modalContent" [nzFooter]="modalFooter" (nzOnCancel)="handleCancel($event)">
      <ng-template #modalTitle>
        创建社团
      </ng-template>
      <ng-template #modalContent>
        <div class="ui form">
          <div class="field">
            <label >社团名称:</label>
            <input placeholder="为社团命名" name="clubN" [(ngModel)]="name">
          </div>
          <div class="field">
            <label >社团图标:</label>
            <input type="file" id="newUpload" placeholder="选择图标">
          </div>
          <div class="filed">
            <label >社团简介:</label>
            <textarea name="" id="" cols="30" rows="10" [(ngModel)]="brief" ></textarea>
          </div>
          <div class="ui toggle checkbox">
            <input type="checkbox" name="public">
            <label>
              <div class="header">申请加入</div>
              <div class="meta">
                <span>他人需要提出申请才能加入你的社团</span>
              </div>
            </label>
          </div>
        </div>
        <button nz-button [nzType]="'default'" [nzSize]="'large'" (click)="handleCancel($event)">
          取 消
        </button>
        <button nz-button [nzType]="'primary'" [nzSize]="'large'" (click)="createClub()" [nzLoading]="isConfirmLoading">
          完 成
        </button>
      </ng-template>
      <ng-template #modalFooter>

      </ng-template>
    </nz-modal>
      </div>
    </div>
  </ul>

</div>

  <div [ngSwitch]="clubswitch">
    <div *ngSwitchCase="'recommend'">

      <div class="ui centered grey card col-md-4 col-sm-4 col-lg-4 t1 " *ngFor="let clubs of recommendFeeds">
        <a class="image" href="#" [routerLink]="['/clubd',clubs.id]">
          <img class="img1"   src="http://placehold.it/150x100">
        </a>

        <a class="content" href="#" [routerLink]="['/clubd',clubs.id]">
          <div class="header">{{clubs.name}}</div>
          <div class="description">
            6324 个成员
          </div>
        </a>
        <button nz-button nzType="primary" (click)="join(clubs.id)">加入</button>

      </div>
    </div>
  </div>
  <div [ngSwitch]="clubswitch">
    <div *ngSwitchCase="'member'">

      <div class="ui centered grey card col-md-4 col-sm-4 col-lg-4 t1 " *ngFor="let clubs of memberFeeds">
        <a class="image" href="#" [routerLink]="['/clubd',clubs.id]">
          <img class="img1"   src="http://placehold.it/150x100">
        </a>

        <a class="content" href="#" [routerLink]="['/clubd',clubs.id]">
          <div class="header">{{clubs.name}}</div>
          <div class="description">
            6324 个成员
          </div>
        </a>

      </div>
    </div>
  </div>
  <div [ngSwitch]="clubswitch">
    <div *ngSwitchCase="'yours'">



    <div class="ui centered grey card col-md-4 col-sm-4 col-lg-4 t1 " *ngFor="let clubs of myFeeds">
      <a class="image" href="#" [routerLink]="['/clubd',clubs.id]">
        <img class="img1"   src="http://placehold.it/150x100">
      </a>

      <a class="content" href="#" [routerLink]="['/clubd',clubs.id]">
        <div class="header">{{clubs.name}}</div>
        <div class="description">
          6324 个成员
        </div>
      </a>

    </div>
    </div>
  </div>

