
<div nz-row [nzType]="'flex'">
  <div nz-col [nzSpan]="10" [nzOrder]="1">
    <h3 class="ui header">社团</h3>

  </div>
  <div nz-col [nzSpan]="10" [nzOrder]="2" [nzOffset]="'2'">
    <h3 class="ui header">圈子</h3>
  </div>

</div>
<div nz-row [nzType]="'flex'">
  <div nz-col [nzSpan]="10" [nzOrder]="1" class="t2">
    <nz-carousel [nzAutoPlay]="true" [nzEffect]="fade">
      <div nz-carousel-content class="ui  card " *ngFor="let clubs of clubList">

          <a class="image" [routerLink]="['/clubd',clubs.clubId]"><img src={{clubs.clubAvatar}}></a>
          <a class="content" [routerLink]="['/clubd',clubs.clubId]">
            <div class="header">{{clubs.clubName}}</div>
            <div class="description">
              {{clubs.clubMembers}} 个成员
            </div>
          </a>
          <div class="extra content">
            <a>加入</a>
          </div>
        </div>>

    </nz-carousel>
  </div>
  <div nz-col [nzSpan]="10" [nzOrder]="2" [nzOffset]="'2'">
    <nz-carousel  [nzAutoPlay]="true" [nzEffect]="fade">
      <div  nz-carousel-content class="ui card " *ngFor="let circles of circleList"  >
        <a class="image"  [routerLink]="['/circled',circles.circleId]"><img src={{circles.circleAvatar}}></a>
        <a class="content"  [routerLink]="['/circled',circles.circleId]">
          <div class="header">{{circles.circleName}}</div>
          <div class="description">
            {{circles.circleMembers}} 个成员
          </div>
        </a>
        <div class="extra content">
          <a>
            加入
          </a>
        </div>
      </div>
    </nz-carousel>
  </div>

</div>
