<div class="container-fluid">
  <!-- 页头 -->
  <div class="page-header">
    <div class="row">
      <div class="col-md-2">
        <h1>Clubook</h1>
      </div>
      <div class="col-md-5">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search for...">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button">
              <i class="glyphicon glyphicon-search"></i>
            </button>
          </span>
        </div>
      </div>


      <div *ngIf="!currentUser?.userName" class="col-md-2 col-md-offset-3">
        <div class="btn-group" role="group" aria-label="...">
          <button type="button" class="btn btn-default" routerLink="login"><h4 style="color: #488aff">登陆</h4></button>
          <button type="button" class="btn btn-default" routerLink="register"><h4 style="color: #488aff">注册</h4></button>
        </div>
      </div>

      <ul *ngIf="currentUser?.userName" class="col-md-3 col-md-offset-2 nav navbar-nav navbar-right">
        <li><nz-badge [nzCount]="5" style="margin-right: 24px">
          <ng-template #content>
            <nz-avatar nzIcon="user" [nzShape]="'square'" [nzSize]="'large'"></nz-avatar>
          </ng-template>
        </nz-badge></li>

        <li routerLinkActive="active">
          <a routerLink="profile"><h4 style="color: #488aff">欢迎您：{{currentUser?.userName}}</h4></a>
        </li>

        <li>
          <a href="javascript:void(0);" (click)="doLogout()"><h4 style="color: #488aff">退出</h4></a>
        </li>
      </ul>
    </div>
  </div>


  <div class="row  cc">
    <!-- 侧栏导航 -->
    <div class="col-md-2 c2">
      <ul class="nav nav-pills nav-stacked">
        <li *ngIf="currentUser?.userName" role="presentation" routerLinkActive="active">
          <a routerLink="home"><h3 style="color: #488aff">首页</h3></a>
        </li>
        <li role="presentation" routerLinkActive="active">
          <a routerLink="discover"><h3 style="color: #488aff">发现</h3></a>
        </li>
        <li *ngIf="!currentUser?.userName" role="presentation" routerLinkActive="active">
          <a routerLink="register"><h3 style="color: #488aff">加入Clubook</h3></a>
        </li>
        <li *ngIf="currentUser?.userName" role="presentation" routerLinkActive="active">
          <a routerLink="club"><h3 style="color: #488aff">社团</h3></a>
        </li>
        <li *ngIf="currentUser?.userName" role="presentation" routerLinkActive="active">
          <a routerLink="circle"><h3 style="color: #488aff">圈子</h3></a>
        </li>
      </ul>
    </div>
    <!-- 主体内容 -->
    <div class="col-md-10 c1">
      <router-outlet></router-outlet>
    </div>
  </div>

  <div class="page-footer" style="text-align: center; ">
    Clubook @2018 By Langjunxia
  </div>
</div>
