.c1{
  padding: 10px;
  border-left-style: solid;
}
.page-footer{
  margin-top: 20px;
  padding: 20px;
  border-top-style: solid;
}
.page-header{margin-top:15px;
}
.t11{
  margin-top: -10px;
}
.image{
  height: 60px;
  width: 100px;
}
