.post-detail-container{
  margin-bottom:30px;
}
.postheader{
  text-align: center;
  padding-bottom: 20px;
}
.postcontent{
}
.postimg{
  text-align: center;
}
.t1{
  padding-right: 100px;
  padding-left: 100px;
}
